@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*---Grid for Project Template---*/
#posts {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px 50px;
    padding-bottom: 1rem;
}

#artworks {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px 50px;
    padding-bottom: 1rem;
}

#news {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px 50px;
    padding-bottom: 1rem;
}

.posts-wrapper {
    display: grid;
    grid-template-columns: 10% auto 10%;
}

.half-width-line {
    border: 1 solid black;
    width: 100%;
    float: left;

}


/*---Project Template Style--*/
.banner-title {
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-align: center;
    letter-spacing: 5px;
}

img.cover {
    border: 1px solid #707070;
}

.tag-title {
    letter-spacing: 1px;
    font-size: 0.8rem;
}

.project-title {
    font-size: 1.2rem;
}

.read-more {
    font-size: 1rem;
    padding-top: 1rem;
    font-weight: 900;
}
.read-more a{
    text-decoration: none;
    color: black;
}

.red-line-template {
    border: 1px solid red;
    width: 5rem;
}

/*---Layout for Artwork page---*/
img.artworks-cover {
    border: 1px solid #707070;
}

.art-title {
    font-size: 1.2rem;
}

/*------Search bar Styling------*/
.search-bar {
    text-align: right;
    padding-right: 5rem;
}

input {
    background-color: #fefefa;
    color: black;
    border-width: 1px;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-color: black;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-bottom: 1px;
}


/*    -----Layout for subpages-----*/

.subpages-wrapper {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 20% auto 20%;
}

.subpage-article {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
     grid-template-rows: auto 10% 15% 10% 15%;


}

.img_container {
    grid-column-start: 1;
}

header {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.go-back{
    grid-column-start: 2;
    grid-row-start: 5;
}

/*------Categories Styling------*/
.categories a{
    text-decoration: none;
    color: black;
}

/*------Subpage Styling--------*/
.sub-art-title{
    padding-bottom: 1rem;
}
.sub-project-title{
    padding-bottom: 1rem;
}
.go-back{
    text-decoration: underline;
    color: black;
}
