/*----GENERAL STYLING----*/

@import url("https://use.typekit.net/omr5swy.css");
/*
font-family: linotype-didot, serif;
font-weight: 400;
font-style: normal;
*/

@import url("https://use.typekit.net/omr5swy.css");
/*
font-family: aktiv-grotesk, sans-serif;
font-weight: 300;
font-style: normal;
*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*font-family: 'Roboto', sans-serif;*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #fefefa;

}




/*----NAVIGATION-----*/

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: #fefefa;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 12px;
}


.nav-links a:hover {
    color: #C2B4B4;
}

.nav-links .current {
    text-decoration: underline;
    text-decoration-color: black;
}



.nav-burger {
    display: none;
}

.nav-burger div {
    width: 22px;
    height: 2px;
    background-color: black;
    margin: 5px;
    transition: all 0.5s ease;
}

@media screen and (max-width:1024px) {

    .nav-links {
        width: 60%;
    }

}

@media screen and (max-width: 768px) {

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 7vh;
        background-color: #fefefa;

    }

    nav div h1 {
        font-size: 12px;
    }



    body {
        overflow-x: hidden;
    }

    .nav-links {
        overflow-x: hidden;
        position: absolute;
        right: 0px;
        height: 97vh;
        top: 4vh;
        background-color: #fefefa;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 100;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links a {
        font-size: 12px;
        color: black;
    }

    .nav-burger {
        display: block;
        cursor: pointer;
        z-index: 200;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

/*---------LANDING PAGE---------*/

h1 {
    margin: 0;
}

h2 {
    margin: 0;

}

.top-header {
    color: #FF0000;
    font-size: 1rem;
    line-height: 0.7;
}

.heading {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 3rem;
    line-height: 1;

}

#landing-section {
    width: 100vw;
    position: relative;
}

.vertical-some {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.vertical-some a {
    writing-mode: vertical-rl;
    width: 30%;
    margin-top: 30px;
    color: black;
    text-decoration: none;
}

.title-wrap {
    position: absolute;
    top: 46vh;
    right: 3vw;
}


.title-text {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 6.5rem;
    line-height: 1;
    margin-top: 2.3rem;
}

.red-line {
    border: 1px solid red;
    width: 10rem;
    position: absolute;
}


#hero-image {
    width: 50vw;
}

.scroll-down {
    position: absolute;
    left: 47%;
    top: 95%;
    transform: translate(-50%, -50%);
}

.bounce {
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation: bounce 3.6s ease infinite;
    transform-origin: 50% 50%;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    5.55556% {
        transform: translateY(0);
    }

    11.11111% {
        transform: translateY(0);
    }

    22.22222% {
        transform: translateY(-15px);
    }

    27.77778% {
        transform: translateY(0);
    }

    33.33333% {
        transform: translateY(-15px);
    }

    44.44444% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}


.g1 {
    grid-area: g1;
    /*    background-color: fuchsia;*/

}

.g2 {
    grid-area: g2;
    /*    background-color: aqua;*/
    padding-top: 6rem;
}

.g3 {
    grid-area: g3;
    /*    background-color: hotpink;*/
}



.landing-grid {
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "g1 . . . . . . g3 g3 g3 g3"
        "g1 g2 g2 g2 g2 g2 g2 g3 g3 g3 g3"
        "g1 g2 g2 g2 g2 g2 g2 g3 g3 g3 g3"
        "g1 g2 g2 g2 g2 g2 g2 g3 g3 g3 g3"
        "g1 . . . . . . g3 g3 g3 g3";
}


@media only screen and (min-width: 700px) and (max-width: 1024px) {

    #hero-image {
        margin-top: 8rem;
        width: 85vw;
    }

    .vertical-some a {
        writing-mode: vertical-rl;
        width: 40%;
        margin-top: 30px;
        margin-left: 10px;
    }

    .title-wrap {
        position: absolute;
        top: 61vh;
        right: 3vw;
    }

    .red-line {
        border: 1px solid red;
        width: 8.5rem;
        position: absolute;
        top: 8vh;
        right: 13vw;
    }


    .landing-grid {
        width: 100%;
        height: 90vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "g1 g2 ."
            "g1 g3 .";
    }



}

@media only screen and (max-width:700px) {

    #hero-image {
        margin-top: 6rem;
        width: 100vw;
    }

    .title-wrap {
        position: absolute;
        top: 53vh;
        left: 0vw;
        width: 100vw;
    }


    .title-text {
        font-family: linotype-didot, serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3.5rem;
        line-height: 1;
        margin: 0;

    }

    .red-line {
        border: 1px solid red;
        width: 5rem;
        position: absolute;
        top: 3.5vh;
        left: 62vw;
    }

    .landing-grid {
        width: 100%;
        height: 90vh;
        display: grid;
        grid-template-columns: 1fr 1f;
        grid-template-areas:
            "g1 g2"
            "g1 g2";
    }

    .vertical-some a {
        writing-mode: vertical-rl;
        width: 60%;
        margin-top: 30px;
        margin-left: 10px;
        font-size: 0.8rem;
    }

    .g2 {
        padding-top: 0rem;

    }

    .g1 {
        display: none;
    }


}

.social-art-section {
    position: relative;
    padding-top: 7rem;
    text-align: center;
    height: 90vh;
}

.social-art-section img {
    width: 88%;
}

.social-art-section div {
    position: absolute;
    width: 50vw;
    height: 40%;
    left: 50%;
    top: 73%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    text-align: left;
    background-color: #fefefa;
}

.social-art-section div a {
    color: black;
    text-decoration: none;
    font-weight: 800;
    font-style: normal;
    font-size: 1.1rem;
    position: relative;
}

.link-text {
    font-size: 16px;
}

.link-text:after {
    content: "";
    display: block;
    width: 75px;
    height: 2px;
    position: absolute;
    background-color: red;

}

.icon {
    height: 13px;
    top: .125em;
    position: relative;
}

.black-line {
    position: absolute;
    border: 0.5px solid black;
    width: 15%;
}

.full-width-line {
    border: 1 solid black;
    width: 90%;

}

@media only screen and (min-width: 700px) and (max-width: 1024px) {

    .social-art-section {
        position: relative;
        padding-top: 7rem;
        text-align: center;
        height: 50vh;
    }

    .social-art-section div {
        position: absolute;
        width: 50vw;
        height: 40%;
        left: 50%;
        top: 59%;
        transform: translate(-50%, -50%);
        padding: 4rem;
        text-align: left;
        background-color: #fefefa;

    }




}

@media only screen and (max-width:700px) {

    .social-art-section img {
        width: 100%;
    }

    .heading {
        font-family: linotype-didot, serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
        line-height: 1;

    }

    .social-art-section div {
        position: absolute;
        width: 50vw;
        height: 40%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 4rem;
        text-align: left;
        background-color: #fefefa;

    }

}

footer {
    position: relative;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 33vw);
    grid-template-rows: repeat(3, auto);
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer div a {
    margin: 8px;
    font-size: 14px;
}

footer div img {
    position: absolute;
    width: 80px;
    bottom: 4px;
    right: 6px;
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {

    footer div img {
        width: 70px;
    }

}

@media only screen and (max-width:700px) {

    footer div img {
        width: 50px;
    }

}


footer:nth-child(2) {
    display: flex;
}

footer div a {
    color: white;
    text-decoration: none;
}

.copyright {
    font-size: 10px;
    color: grey;
    position: absolute;
    bottom: 0;
    left: 1vw;
    margin: 4px;
}

/*------SOCIAL ART PAGE------*/


#social-art-page {
    width: 100vw;
    padding-top: 5vh;
    position: relative;
}

.title-wrapper {
    position: absolute;
    width: 58vw;
    top: 20vh;
    text-align: right;
    left: 3vw;
}

.title-wrapper hr {
    position: absolute;
    left: 42vw;
    border: 1px solid red;
    width: 140px;
}

.a1 {
    grid-area: a1;
    width: 5vw;

}

.a2 {
    grid-area: a2;
    width: 40vw;
    padding: 2.5vw;
}

.a3 {
    grid-area: a3;
    text-align: center;
    width: 50vw;
}

.a3 img {
    width: 50vw;
}

.social-art-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "a1 . a3"
        "a1 a2 a3";
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {

    .a1 {
        grid-area: a1;
        width: 5vw;

    }

    .a2 {
        grid-area: a2;
        width: 80vw;
        padding: 5vw;
    }

    .a3 {
        grid-area: a3;
        text-align: center;
        width: 95vw;
    }

    .a3 img {
        width: 80vw;
    }


    .social-art-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "a1 a3"
            "a1 a2";
    }

    .title-wrapper {
        position: absolute;
        width: 80vw;
        top: 51vh;
        text-align: right;
        left: 3vw;
    }

    .title-wrapper .title-text {
        font-size: 4.5rem;
    }

    .title-wrapper hr {
        position: absolute;
        left: 7vw;
        border: 1px solid red;
        width: 140px;
    }
}

@media only screen and (max-width:700px) {

    .a1 {
        display: none;
        grid-area: a1;
        width: 5vw;

    }

    .a2 {
        grid-area: a2;
        width: 95vw;
        padding: 2.5vw;
    }

    .a3 {
        grid-area: a3;
        text-align: center;
        width: 100vw;
        padding-top: 16vh;
    }

    .a3 img {
        width: 100vw;
    }


    .social-art-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "a1 a3"
            "a1 a2";
    }

    .title-wrapper {
        position: absolute;
        width: 95vw;
        top: 13vh;
        text-align: right;
        left: 0vw;
    }

    .title-wrapper .title-text {
        font-size: 2.6rem;
    }

    .title-wrapper hr {
        position: absolute;
        left: 8vw;
        border: 1px solid red;
        width: 95px;
        top: 1.5vh;
    }


}

/*-----------IMAGE SLIDER----------*/

#image-slider-section {
    padding-top: 8rem;
}

.slider-heading {
    text-align: center;
    margin-bottom: 2rem;
}

.slider-image {
    width: 100%;
}

.slider {
    margin: 0 auto;
    max-width: 76vw;
    max-height: 45vw;

}

.slide_viewer {
    height: 45vw;
    overflow: hidden;
    position: relative;
}

.slide_group {
    height: 100%;
    position: relative;
    width: 100%;

}

.slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;

}

.slide:first-child {
    display: block;
}



.slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

a.slide_btn {
    color: black;
    font-size: 42px;
    margin: 0 0.175em;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
    color: red;
    cursor: pointer;
}

.directional_nav {
    height: 45vw;
    margin: 0 auto;
    max-width: 80vw;
    position: relative;
    top: -46vw;
}

.previous_btn {
    bottom: 0;
    left: 2vw;
    margin: auto;
    position: absolute;
    top: 0;
}

.next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 2vw;
    top: 0;
}

.previous_btn,
.next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.previous_btn:hover,
.next_btn:hover {
    opacity: 1;
}



@media only screen and (min-width: 700px) and (max-width:1024px) {

    .slider {
        margin: 0 auto;
        max-width: 85vw;
        max-height: 57vw;
    }

    .slide_viewer {
        height: 74vw;
        overflow: hidden;
        position: relative;
    }

    .directional_nav {
        top: -54vw;
    }

    a.slide_btn {
        font-size: 35px;
    }

    .previous_btn {
        left: 1vw;
    }

    .next_btn {
        right: 1vw;
    }

}

@media only screen and (max-width:700px) {

    .slider {
        margin: 0 auto;
        max-width: 94vw;
        max-height: 62vw;
    }

    .slide_viewer {
        height: 110vw;
        overflow: hidden;
        position: relative;
    }

    .directional_nav {
        top: -70vw;
    }

    .previous,
    .next {
        height: 40px;
        width: 38px;

    }

    a.slide_btn {
        color: black;
        font-size: 30px;
        margin: 0 0.005em;
        transition: all 0.4s ease-in-out;
    }

    .previous_btn {
        bottom: 0;
        left: -5vw;
        margin: auto;
        position: absolute;
        top: 20vh;
    }

    .next_btn {
        bottom: 0;
        margin: auto;
        position: absolute;
        right: -12vw;
        top: 20vh;
    }
}



/*--------GRIDS--------*/

.container {
    display: grid;
    grid-template-columns: 120px auto 120px;
    grid-template-rows: 120px 120px 720px 120px auto 280px;
}

.logo {
    grid-column-start: 1;
    grid-row-start: 1;
}

.title {
    grid-column-start: 2;
    grid-row-start: 2;
}

.brgr-menu {
    grid-column-start: 3;
    grid-row-start: 1;
}

.content {
    grid-column-start: 2;
    grid-row-start: 3;
}

.so-me {
    grid-column-start: 1;
    grid-row-start: 3;
}

.arrow {
    grid-column-start: 2;
    grid-row-start: 4;
}

.footer {
    grid-column-start: 2;
    grid-row-start: 6;
}




.wrapper-contact {
    display: grid;
    grid-template-columns: auto 100px 650px;
    grid-template-rows: 10px 150px 150px 30px 1590px auto;

}

.contact-item-1 {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-column-end: 3;
    z-index: 10;
     justify-self: end;
    align-self: end;

}


.contact-data {
    grid-column-start: 1;
    grid-row-start: 5;
    justify-self: end;

}

.contact-item-4 {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 3;

}

.contact-item-2{
    display: inline-flex;
}

.contact-item-3{
     display: inline-flex;
}

/*--------GRIDS FOR THE PODS--------*/


/*
#posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 50px 5px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 120px;
}
*/
