/*----GENERAL STYLING----*/

@import url("https://use.typekit.net/omr5swy.css");
/*
font-family: linotype-didot, serif;
font-weight: 400;
font-style: normal;
*/

@import url("https://use.typekit.net/omr5swy.css");
/*
font-family: aktiv-grotesk, sans-serif;
font-weight: 300;
font-style: normal;
*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;

}

/*----NAVIGATION-----*/

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: black;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 12px;
}


.nav-links a:hover {
    color: #C2B4B4;
}

.nav-links .current {
    text-decoration: underline;
    text-decoration-color: white;
}



.nav-burger {
    display: none;
}

.nav-burger div {
    width: 22px;
    height: 2px;
    background-color: white;
    margin: 5px;
    transition: all 0.5s ease;
}

@media screen and (max-width:1024px) {

    .nav-links {
        width: 60%;
    }

}

@media screen and (max-width: 768px) {

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 6vh;
        background-color: black;

    }

    nav div h1 {
        font-size: 12px;
    }



    body {
        overflow-x: hidden;
    }

    .nav-links {
        overflow-x: hidden;
        position: absolute;
        right: 0px;
        height: 96vh;
        top: 4vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 100;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links a {
        font-family: linotype-didot, serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        color: white;
    }

    .nav-burger {
        display: block;
        cursor: pointer;
        z-index: 200;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);

    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}



/*--------GRIDS--------*/

.container {
    display: grid;
    grid-template-columns: 120px auto 120px;
    grid-template-rows: 120px 120px 720px 120px auto 280px;
}

.logo {
    grid-column-start: 1;
    grid-row-start: 1;
}

.title {
    grid-column-start: 2;
    grid-row-start: 2;
}

.brgr-menu {
    grid-column-start: 3;
    grid-row-start: 1;
}

.content {
    grid-column-start: 2;
    grid-row-start: 3;
}

.so-me {
    grid-column-start: 1;
    grid-row-start: 3;
}

.arrow {
    grid-column-start: 2;
    grid-row-start: 4;
}

.footer {
    grid-column-start: 2;
    grid-row-start: 6;
}
